---


<center>
    
# 2020.07.31 RC Code

## An-Algorithm-for-Peer-Reviewer-Recommendation
    
</center>



---

In [14]:
import pandas as pd
t=[[0,0,0],
  [0,0,0]]
tt=pd.DataFrame(t)
tt.iloc[:,[0,:]]

SyntaxError: invalid syntax (<ipython-input-14-3c9cd3775c16>, line 5)

In [12]:
#-*- coding:utf-8 -*-

#import python packages
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances

from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import adjusted_rand_score
from sklearn.metrics import silhouette_samples

from sklearn.utils.testing import ignore_warnings
from sklearn.preprocessing import StandardScaler

from sklearn.datasets import *
from sklearn.cluster import *

from gensim.summarization.summarizer import summarize
from gensim.summarization import keywords

from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

from operator import itemgetter
from operator import attrgetter

from pyjarowinkler import distance
from collections import Counter

from matplotlib import pyplot as plt
from math import log
import pandas as pd
import numpy as np

import nltk,math,time,csv,sys,re,io,os

start_time = time.time()

def remove_string_special_characters(s):
    
    stripped = re.sub('[^a-zA-z\s]', '', s)
    
    stripped = re.sub('_', '', stripped)
    
    stripped = re.sub('\s+', ' ', stripped)
    
    stripped = stripped.strip()
    
    if stripped != '':
        return stripped.lower()
    
def multisort(xs, specs):
    
    for key, reverse in reversed(specs):
        
        xs.sort(key=attrgetter(key), reverse=reverse)
        
    return xs

def uniq_list(input):
    output = []
    for x in input:
        if x not in output:
            output.append(x)
    return output

def extractive_keyword(path,database_update_path,extract_word_num=25):
    
    reviewee = pd.read_csv(path, encoding='latin1')
    count,temp = len(reviewee),[]

    for i in range(count):
        
        temp_intro = reviewee['submitter_intro'][i]

        textrank_textsent_mearge = ''
        textrank_text,textrank_sent = '',''

        for c in (keywords(temp_intro, words=extract_word_num, lemmatize=True).split('\n')):
            
            textrank_text += (c+ " ")

        temp.append(textrank_text)

    reviewee['submitter_attribute']=temp
    
    reviewee.iloc[:,1:].to_csv(database_update_path)
    
    #return type : pandas.dataframe
    return reviewee


def professionalism(path,extractive_keyword_result,reviewee_index,top_limit,silhouette_range=25):
    
    reviewee,index,top=extractive_keyword_result,reviewee_index,top_limit
    temp_id,temp_doi = 0,''
    
    temp_title = reviewee.loc[index]['submitter_title']
    temp_attribute = reviewee.loc[index]['submitter_attribute']
    
    reviewer_attr = pd.read_csv(path, encoding='latin1')
    
    reviewer_attr.loc[-1] = [str(temp_id),temp_doi,temp_title,temp_attribute]
    reviewer_attr.index += 1
    reviewer_attr.sort_index(inplace=True)
    reviewer = reviewer_attr['reviewer_paper_attribure']
    
    jac_token,jac,cos,avg=[],[],[],[]

    # jaccard_distance
    for t in range(len(reviewer)):        
        jac_token.append(set(nltk.ngrams((nltk.word_tokenize(reviewer[t])), n=1)))    
    for j in range(len(reviewer)):
        jac.append(1-(nltk.jaccard_distance(jac_token[0], jac_token[j])))

    # cosine_similarity
    count_vectorizer = CountVectorizer(stop_words='english')
    count_vectorizer = CountVectorizer()
    sparse_matrix = count_vectorizer.fit_transform(reviewer)
    doc_term_matrix = sparse_matrix.todense()
    df = pd.DataFrame(doc_term_matrix, 
                      columns=count_vectorizer.get_feature_names(), 
                      index=[i for i in reviewer])
    cos=cosine_similarity(df, df)[0].tolist()

    for i in range(len(jac)):
        avg.append((jac[i] + cos[i])/2)
    reviewer_attr['sim']=avg
    
    reviewer_attr2 = reviewer_attr.sort_values(by=['sim'], axis=0, ascending=False)
    reviewer_attr3=reviewer_attr2[~reviewer_attr2.duplicated(['reviewer_orcid'],keep=False) == True]
    reviewer_attr4 = reviewer_attr2[reviewer_attr2.duplicated(['reviewer_orcid'],keep='last') == True]
    reviewer_attr5=pd.concat([reviewer_attr3,reviewer_attr4])
    reviewer_attr5.rename(columns = {'reviewer_paper_attribure' : 'reviewer_paper_feature'}, inplace = True)
    display(reviewer_attr5.iloc[:,[0,2,3,4]])
    reviewer2 = list(reviewer_attr5['reviewer_paper_feature'])
    
    reviewer_attribute=[]
    for i in range(len(reviewer2)):
        a=((reviewer2[i]).split(' '))
        b=a[:20]
        temp=''
        for j in range(20):
            temp += (str(b[j]) + ' ')
        reviewer_attribute.append(temp[:-1])
    
    def tf(t, d):
        return d.count(t)

    def idf(t):
        df = 0
        for doc in reviewer_attribute:
            df += t in doc
        return log(N/(df + 1))

    def tfidf(t, d):
        return tf(t,d)* idf(t)
    try:
        tfidf_m = pd.read_csv('./tfidf_m.csv', encoding='latin1',index_col=0)
    except:
        vocab = list(set(w for doc in reviewer_attribute for w in doc.split()))
        vocab.sort()

        N = len(reviewer_attribute)

        #tfidf_Metrix
        result = []
        for i in range(N):
            result.append([])
            d = reviewer_attribute[i]
            for j in range(len(vocab)):
                t = vocab[j]

                result[-1].append(tfidf(t,d))
        tfidf_m = pd.DataFrame(result, columns = vocab)
        tfidf_m.to_csv('./tfidf_m.csv',index=False)
    index_df=[]
    for j in range(len(tfidf_m)):
        index_df.append('Manuscript '+str(j))
    tfidf_m.index=index_df
    display(tfidf_m.iloc[:,[85,786,787,941,1392,1573,2550,2659,3099,3438,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]])
    
    try :
        dissim_m = pd.read_csv('./dissimilarity.csv', encoding='latin1',index_col=0)
    except :
        #dissimilarity metrix
        dissimilarity=[]
        for i in range(0,len(tfidf_m.index)):
            temp2=[]
            a1=[(tfidf_m.iloc[i,:]).to_list()]
            for j in range(0, len(tfidf_m.index)):
                a2=[(tfidf_m.iloc[j,:]).to_list()]
                a3=(euclidean_distances(a1,a2))[0][0]
                temp2.append(a3)
            dissimilarity.append(temp2)
        dissim_m = pd.DataFrame(dissimilarity)
        dissim_m.to_csv('./dissimilarity.csv')

    dissim_m.index=index_df
    dissim_m.columns=index_df
    
    display(dissim_m)
    dissimilarity=dissim_m.values
    
    model1 = AgglomerativeClustering(n_clusters=8, affinity='euclidean', linkage='ward')
    model1.fit(dissimilarity)
    labels1 = model1.labels_
    
    reviewer_attr5['cluster']=labels1
    
    cluster_reviewer = reviewer_attr5[reviewer_attr5['cluster'] == reviewer_attr5.loc[0]['cluster']]
#     cluster_reviewer2 = cluster_reviewer.sort_values(by=['sim'], axis=0, ascending=False)

    cluster_reviewer2 = cluster_reviewer.sort_values(by=['sim'], axis=0, ascending=False)
    
    professionalism=cluster_reviewer2.iloc[0:top+1] #1

    #return type : pandas.dataframe
    return professionalism

def interest(co_author_path, reviewer_information_path, co_author_network_path, professionalism_result, extractive_keyword_result, reviewee_index,matrix_multifly_count):
    
    #매개변수 전달
    path1,path2=co_author_path,reviewer_information_path
    network_path=co_author_network_path
    temp,reviewee = professionalism_result,extractive_keyword_result
    index,multifly=reviewee_index,matrix_multifly_count

    #import Dataset
    co_author_csv = pd.read_csv(path1, encoding='latin1')
    
    #merge coauthor & 전문성 검사 결과
    co_author_df = co_author_csv.merge(temp, on=['reviewer_orcid'])  
    co_author_df2 = co_author_df.iloc[:]['reviewer_name'].tolist()
    
    #import network
    try :
        #read network csv
        network_csv = pd.read_csv(network_path, encoding='latin1',index_col=0)
    except FileNotFoundError :
        df1=pd.read_csv('./network/network0704.csv')
        df2=pd.read_csv('./network/network0704_2.csv')

        tmp=[1]
        tmp.extend(i*2 for i in range(1,11))

        for k in range(1,len(df1.columns)):
            a=df1.columns[k]
            a1=df2.loc[df2['reviewer_coauthor_title']==a]
            a_list=[]
            for i in range(len(tmp)):
                a_list.append(a1.iloc[0][tmp[i]])
            for i in range(len(df1)):
                if (df1.iloc[i,0] in a_list) is True :df1.iloc[i,k]=1
                else :df1.iloc[i,k]=0

        mat=(df1.values)[:,1:]
        mat2=mat.T
        mat3=np.dot(mat,mat2)
        for i in range(len(mat3)):
            mat3[i,i]=0
        fof=np.dot(mat3,mat3)
        
        df1_index=(df1.iloc[:,0]).tolist()
        df1_col=(df1.columns)[1:]
        network_csv=pd.DataFrame(data=mat3,index=df1_index,columns=df1_index)
        network_csv.to_csv(network_path)
    
    display(network_csv)
    reviewer_list=(network_csv.index).tolist()
    
    reviewee_list=[]
    reviewee.fillna(0, inplace=True)
    for i in range(1,11):
        col_index = (i*3)+5
        if reviewee.loc[index][col_index] != 0:
            reviewee_list.append(reviewee.loc[index][col_index])
    
    co_rel_df = pd.DataFrame(
        columns=[i for i in reviewer_list],
        index=[j for j in reviewee_list])
    
    for i in range(len(reviewee_list)):
        indet_temp=reviewer_list.index(reviewee_list[i])
        co_rel_df.iloc[i,indet_temp]=1
    co_rel_df.fillna(0, inplace=True)
    
    display(co_rel_df.iloc[:,19:])
    
    network_csv_v=network_csv.values
    for i in range(multifly):
        network_csv_v = network_csv_v.dot(network_csv_v)

    co_rel_df_v=co_rel_df.values
    fof = co_rel_df_v.dot(network_csv_v)
    
    df_fof=pd.DataFrame(data=fof,
                 index=(co_rel_df.index).tolist(),
                 columns=(network_csv.index).tolist())
    
    display(df_fof.iloc[:,[20,21,22,23,24,26,27,28,29,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]])
    df_fof_series =df_fof.loc[:, (df_fof != 0).any(axis=0)]
    df_fof_series_list=(df_fof_series.columns).tolist()
    
    reviewer_list1 = list(set(co_author_df2).difference(df_fof_series_list))
    
    co_inst_csv = pd.read_csv(path2, encoding='latin1')

    co_inst_df = co_inst_csv.merge(temp, on=['reviewer_orcid'])

    reviewee_list2=[]
    for i in range(1,11):
        col_index = (i*3)+6
        if reviewee.loc[index][col_index] != 0:
            reviewee_list2.append(reviewee.loc[index][col_index])
    
    reviewer_list2,reviewer_inst_list=[],[]
    for j in range(len(co_inst_df)):#
        inst_list_temp=[]
        reviewer_list2.append(co_inst_df['reviewer_name'][j])#
        reviewer_inst_list.append(co_inst_df['reviewer_institution'][j])#

    inst_rel_df = pd.DataFrame(
        columns=[i for i in reviewer_list2],#
        index=[j for j in reviewee_list])#

    for i in range(len(reviewee_list2)):
        for j in range(len(reviewer_inst_list)):
            if (reviewee_list2[i] == reviewer_inst_list[j]) : inst_rel_df.iloc[i, j] = 1
            else : inst_rel_df.iloc[i, j] = 0
                
    #-----------------
    
#     display(inst_rel_df.iloc[:,[750,751,752,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,1,2,3,4,5,6,7,8,9,10]])
    
    #-----------------
    
    inst_rel_df_series = inst_rel_df.loc[:, (inst_rel_df != 0).any(axis=0)]
    inst_rel_df_series_list=(inst_rel_df_series.columns).tolist()
    
    reviewer_list2 = list(set(reviewer_list2).difference(inst_rel_df_series_list))
    
    reviewer_rank_list = list(set(reviewer_list1).intersection(reviewer_list2))

    id_index,sim_index,count_index,title_index=[],[],[],[]
    reviewer_rank = pd.DataFrame({'reviewer_name': reviewer_rank_list})
    
    for i in range(len(reviewer_rank)):
        for j in range(len(co_author_df)):
            if reviewer_rank.loc[i]['reviewer_name'] == co_author_df.loc[j]['reviewer_name'] :
                id_index.append(int(co_author_df.iloc[j]['reviewer_orcid']))
                sim_index.append(co_author_df.iloc[j]['sim'])
                title_index.append(co_author_df.iloc[j]['reviewer_title'])
                break
            if reviewer_rank.loc[i]['reviewer_name'] == co_inst_df.loc[j]['reviewer_name'] :
                count_index.append(co_inst_df.iloc[j]['count'])
    
    aaa=[]
    for i in range(len(reviewer_rank)):
        aaa.append(0)
    
    reviewer_rank['reviewer_orcid']=id_index
    reviewer_rank['title']=title_index
    reviewer_rank['sim']=sim_index
    reviewer_rank['count']=aaa
    
    reviewer_rank2 = reviewer_rank.sort_values(by=['sim'], axis=0, ascending=False)
                
    #return type : pandas.dataframe
    return reviewer_rank2

def save_csv(output_path,extractive_keyword_result,professionalism_result,reviewee_index,top_limit):
    
    path,ee_num,top=output_path,reviewee_index,top_limit
    reviewee,reviewer_rank_name=extractive_keyword_result,professionalism_result
    
    export_data=[]
    for i in range((top*2)):
        #reviewee
        temp=[]
        temp.append(reviewee.iloc[(1//top*2)+ee_num]['submitter_title'])
        temp.append(reviewee.iloc[(1//top*2)+ee_num]['date'])
        temp.append(reviewee.iloc[(1//top*2)+ee_num]['submitter_name'])
        #reviewer_rank_name
        temp.append(reviewer_rank_name.iloc[i]['reviewer_name'])
        temp.append(reviewer_rank_name.iloc[i]['reviewer_orcid'])
        temp.append(reviewer_rank_name.iloc[i]['title'])
        temp.append(reviewer_rank_name.iloc[i]['sim'])
        temp.append(reviewer_rank_name.iloc[i]['count'])
        #export_data
        export_data.append(temp)
        
    try :
        export_csv = pd.read_csv(path,index_col=0)
    except FileNotFoundError :
        export_csv = pd.DataFrame([],columns=['submitter_title','date','submitter_name','reviewer_name','reviewer_orcid','title','sim','count'])
    
    for i in range(len(export_data)):
        export_csv.loc[len(export_csv)] = export_data[i]
    
    export_csv2 = export_csv.sort_values(by=['sim'], axis=0, ascending=False)
    
    export_csv2.to_csv(path)
    
def equl_distribution(input_csv_path, output_csv_path):
    
    #read csv
    export_csv2 = pd.read_csv(input_csv_path,index_col=0)
    
    class Paper:
        
        def __init__(self, title, date, submitter, reviwer_name, reviwer_orcid, title2, sim, count):
            self.title = title
            self.date = date
            self.submitter = submitter
            self.reviwer_name = reviwer_name
            self.reviwer_orcid = reviwer_orcid
            self.reviwer_title = title2
            self.sim = sim
            self.count = count

        def __repr__(self):
            return repr((self.title, self.date, self.submitter, self.reviwer_name, self.reviwer_orcid, self.reviwer_title, self.sim, self.count))

    papers,objs=[export_csv2.iloc[i].tolist() for i in range(len(export_csv2))],[]

    for paper in papers:
        objs.append(Paper(*paper))
    
    o = (multisort(list(objs), (('date', False), ('sim', True))))
    
    final_list=[]
    for i in range(0,len(export_csv2),6) :
        temp_list=[]
        for t in range(6):
            if len(temp_list) == 3:break
            else :
                temp = i + t
                if (o[temp].count) < 3 :
                    o[temp].count += 1
                    for j in range(0+temp, len(export_csv2)) :
                        if (o[temp].reviwer_name == o[j].reviwer_name) :
                            o[j].count += 1
                    o[temp].count -= 1
                    class_1=(str(o[temp]))[1:-1]
                    class_2=class_1.replace('\'','')
                    class_3=class_2.split(', ')
                    temp_list.append(class_3)
        final_list.extend(temp_list)
        
    final=pd.DataFrame(final_list,columns=['submitter_title','date','submitter_name','reviewer_name','reviewer_orcid','title','sim','count'])
    final.to_csv(output_csv_path)

In [2]:


reviewee=extractive_keyword(path='../reviewee/submitter_10_k.csv',
                            database_update_path='../reviewee/update/sybmitter_update_100.csv',
                            extract_word_num=30)
#return type : pandas.dataframe
print('[extractive_keyword | {time:2.5f}]'.format(time=time.time() - start_time))
display(reviewee)
print('---------------1---------------')

[extractive_keyword | 1.23829]

,ï»¿date,submitter_orcid,submitter_name,submitter_institution,submitter_email,submitter_title_doi,submitter_title,submitter_intro,submitter_author1_name,submitter_author1_institution,...,submitter_author8_name,submitter_author8_institution,submitter_author8_email,submitter_author9_name,submitter_author9_institution,submitter_author9_email,submitter_author10_name,submitter_author10_institution,submitter_author10_email,submitter_attribute
0,20200101,326,Lu Qin,"The Chinese University of Hong Kong, Hong Kong...",lqin@se.cuhk.edu.hk,NaN,Diversifying Top-K Results,ABSTRACT This paper proposes a general framewo...,Lu Qin,"The Chinese University of Hong Kong, Hong Kong...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,distance similarities match sequences subseque...
1,20200102,897,Haohan Zhu,Department of Computer Science Boston University,zhu@cs.bu.edu,NaN,A Generic Framework for Efficient and Effectiv...,ABSTRACT Top-k query processing finds a list o...,Haohan Zhu,Department of Computer Science Boston University,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,result algorithms searches problems solution b...
2,20200103,1387,Stefan Aulbach,"Technische UniversitÃ¤t MÃ¼nchen, Germany",stefan.aulbach@in.tum.de,NaN,A Comparison of Flexible Schemas for Software ...,ABSTRACT A multi-tenant database system for So...,Stefan Aulbach,"Technische UniversitÃ¤t MÃ¼nchen, Germany",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,table column mappings tenants performing queri...
3,20200104,1126,Orestis Polychroniou,Columbia University,orestis@cs.columbia.edu,NaN,A Comprehensive Study of Main-Memory Partition...,ABSTRACT Analytical database systems can achie...,Orestis Polychroniou,Columbia University,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,partitions cached numa sorted memory tuples al...
4,20200105,1388,Yang Cao,"RCBD and SKLSDE Lab, Beihang University",yang.cao@ed.ac.uk,NaN,Making Pattern Queries Bounded in Big Graphs,Abstract It is cost-prohibitive to find match...,Yang Cao,"RCBD and SKLSDE Lab, Beihang University",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,querying graphs constraint accessed node bound...
5,20200106,1389,Abdeltawab M. Hendawi,Department of Computer Science and Engineering...,hendawi@cs.umn.edu,NaN,Predictive Tree: An Efficient Index for Predic...,Abstract Predictive queries on moving objects ...,Abdeltawab M. Hendawi,Department of Computer Science and Engineering...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,predictions node querying trees times object l...
6,20200107,1390,Michael Mattig,Department of Mathematics and Computer Science...,mattig@mathematik.uni-marburg.de,NaN,Kernel-Based Cardinality Estimation on Metric ...,ABSTRACT The efficient management of metric da...,Michael Mattig,Department of Mathematics and Computer Science...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,query metric data distances estimates spaces k...
7,20200108,1391,Michael Vollmer,Karlsruhe Institute of Technology (KIT) Karlsr...,michael.vollmer@kit.edu,NaN,Iterative Estimation of Mutual Information wit...,ABSTRACT Mutual Information (MI) is an establi...,Michael Vollmer,Karlsruhe Institute of Technology (KIT) Karlsr...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,estimators time iterate data imie results comp...
8,20200109,1393,Chris Mayfield,"Purdue University West Lafayette, Indiana, USA",cmayfiel@cs.purdue.edu,NaN,ERACER: A Database Approach for Statistical In...,ERACER: A Database Approach for Statistical In...,Chris Mayfield,"Purdue University West Lafayette, Indiana, USA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data values databases statistical inferences c...
9,20200110,1394,Alexander Hall,"Google, Inc.",alexhall@google.com,NaN,Processing a Trillion Cells per Mouse Click,"Processing a Trillion Cells per Mouse Click, P...",Alexander Hall,"Google, Inc.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data stored query columns large interacting da...

---------------1---------------

In [3]:

reviewer=professionalism(path='../reviewer_pool/reviewer_attribute_937.csv',
                         extractive_keyword_result=reviewee,
                         reviewee_index=0,
                         top_limit=20,
                         silhouette_range=25)
#return type : pandas.dataframe
display(reviewer.iloc[:,[0,2,3,4,5]])
print('--------------2----------------')

,reviewer_orcid,reviewer_title,reviewer_paper_feature,sim
0,0,Diversifying Top-K Results,distance similarities match sequences subseque...,1.000000
334,2579,Efficient Subgraph Matching on Billion Node Gr...,graph data indexed queried joining result subg...,0.155556
790,1106,Skip-and-Prune: Cosine-based Top-K Query Proce...,based queries keywords vectors contexts data s...,0.155556
842,381,Parallel Duplicate Detection in Adverse Drug R...,reported duplicated data fields recorded metho...,0.155556
569,35,Effective Data Co-Reduction for Multimedia Sim...,data dimensionalities multimedia dcr distance ...,0.131054
...,...,...,...,...
512,888,Challenging the Long Tail Recommendation,recommenders users tail items product niche po...,0.025141
83,1898,Finding Contrast Patterns for Mixed Streaming ...,data algorithms itemsets differ pattern contra...,0.025141
371,288,Sensitivity Analysis and Explanations for Robu...,probabilities querying sensitive input tuples ...,0.025141
514,2498,Parallel Subgraph Listing in a Large-Scale Graph,graphs subgraphs parallel result perform listi...,0.025141
142,2044,Group Recommendation with Temporal Affinities,groups affin users times preferred recommend d...,0.000000

,algorithm,data,database,distance,graph,index,process,queries,similar,time,...,abstraction,abstractions,abstracts,accelerating,accepted,access,accessed,accesses,accessible,accessing
Manuscript 0,0.000000,0.527808,1.38275,2.788093,0.000000,2.011949,0.000000,1.45107,2.273429,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Manuscript 1,0.000000,0.263904,0.00000,0.000000,3.653363,2.011949,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Manuscript 2,0.000000,0.263904,0.00000,0.000000,0.000000,0.000000,1.487063,1.45107,2.273429,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Manuscript 3,0.000000,0.527808,1.38275,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Manuscript 4,0.000000,0.527808,1.38275,2.788093,0.000000,0.000000,0.000000,0.00000,2.273429,1.292599,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Manuscript 840,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Manuscript 841,1.090362,0.263904,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.292599,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Manuscript 842,1.090362,0.263904,1.38275,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Manuscript 843,0.000000,0.000000,0.00000,0.000000,3.653363,0.000000,1.487063,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Manuscript 844,1.090362,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.292599,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Manuscript 0,Manuscript 1,Manuscript 2,Manuscript 3,Manuscript 4,Manuscript 5,Manuscript 6,Manuscript 7,Manuscript 8,Manuscript 9,...,Manuscript 835,Manuscript 836,Manuscript 837,Manuscript 838,Manuscript 839,Manuscript 840,Manuscript 841,Manuscript 842,Manuscript 843,Manuscript 844
Manuscript 0,0.000000,2.739043e+01,28.371600,31.131022,30.649123,31.084986,29.875811,29.606264,30.018720,26.195887,...,29.088150,30.060332,34.723257,32.613515,32.260986,34.022679,30.895223,3.026952e+01,31.430739,32.773349
Manuscript 1,27.390426,4.768372e-07,28.546876,29.508148,29.608212,28.507454,25.821632,27.796307,28.686423,27.589892,...,26.647278,26.638247,32.334228,29.816074,30.261769,32.075576,29.194411,2.799859e+01,26.906891,31.265480
Manuscript 2,28.371600,2.854688e+01,0.000000,30.301920,30.493540,31.244990,29.579406,29.139824,29.667732,29.424980,...,28.460049,29.631602,32.571154,32.042691,31.347954,32.494837,29.646717,2.928851e+01,30.700726,31.702934
Manuscript 3,31.131022,2.950815e+01,30.301920,0.000000,31.677802,32.315906,31.078506,29.410607,30.198413,29.992146,...,29.663838,30.517212,34.337017,32.586972,31.610693,34.040853,30.951059,2.989724e+01,31.541690,32.751674
Manuscript 4,30.649123,2.960821e+01,30.493540,31.677802,0.000000,32.085562,30.876660,30.154951,31.547206,30.589232,...,29.814700,31.131315,35.268271,33.312835,32.584539,34.793242,30.890161,3.072936e+01,32.280813,33.591129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Manuscript 840,34.022679,3.207558e+01,32.494837,34.040853,34.793242,34.574697,33.359701,32.850231,33.042686,32.426947,...,32.250904,32.780532,35.799737,34.980251,34.656481,0.000000,33.083551,3.232488e+01,34.186818,34.253887
Manuscript 841,30.895223,2.919441e+01,29.646717,30.951059,30.890161,31.736707,30.017994,29.694253,30.768105,29.304145,...,29.049218,30.186881,33.427382,32.675935,31.038689,33.083551,0.000000,2.920891e+01,31.065636,31.551464
Manuscript 842,30.269521,2.799859e+01,29.288506,29.897240,30.729360,30.951406,27.479690,28.325220,28.825191,28.556635,...,25.936595,28.824329,33.384567,31.113439,30.528439,32.324876,29.208908,3.371748e-07,29.898645,30.871188
Manuscript 843,31.430739,2.690689e+01,30.700726,31.541690,32.280813,31.534648,27.806742,29.445469,30.983365,29.974579,...,29.132235,29.317654,34.752774,32.163180,32.183481,34.186818,31.065636,2.989865e+01,0.000000,32.658564
Manuscript 844,32.773349,3.126548e+01,31.702934,32.751674,33.591129,33.724291,32.247128,31.488450,32.404189,31.451081,...,30.548915,31.564587,34.453067,34.309866,33.325940,34.253887,31.551464,3.087119e+01,32.658564,0.000000

,reviewer_orcid,reviewer_title,reviewer_paper_feature,sim,cluster
0,0,Diversifying Top-K Results,distance similarities match sequences subseque...,1.000000,2
32,549,Efficient Record Linkage Using a Compact Hammi...,blocks data records distance spaces large vect...,0.155556,2
842,381,Parallel Duplicate Detection in Adverse Drug R...,reported duplicated data fields recorded metho...,0.155556,2
19,891,Efficient Reachability Query Evaluation in Lar...,timely queries reachable process contacting gr...,0.128788,2
388,2476,Efficient Subgraph Similarity Search on Large ...,graphs probabilistic subgraphs probabilities d...,0.128788,2
111,1200,Reconstruction Privacy: Enabling Statistical L...,privacy data records values sensitivity attrib...,0.128788,2
765,365,GBLENDER: Towards Blending Visual Query Formul...,graphs efficiently querying user indexes visua...,0.128788,2
597,585,InsightNotes: Summary-Based Annotation Managem...,annotating summaries queries database insightn...,0.106044,2
654,919,Sedna: Native XML Database Management System (...,storages data xml sedna section manager design...,0.104170,2
605,1478,Efficient Query Processing Using the Earth Mov...,videos data signatures database similar effici...,0.104170,2
251,874,Identifying User Interests within the Data Spa...,querie area database data accesses users diffe...,0.102381,2
808,288,Lineage Processing over Correlated Probabilist...,data correlation database querying tuples line...,0.102381,2
935,778,Verifying Computations with Streaming Interact...,protocol compute verifies query stream keys da...,0.102381,2
184,2548,Quality and Efficiency in High Dimensional Nea...,queries lsh sections point figure value specif...,0.102381,2
817,481,Hermes: Dynamic Partitioning for Distributed S...,partitionings performs section networks social...,0.102381,2
241,324,Indexing the Earth MoverÂ¢Â® ?s Distance Using...,emds indexed distributed normals errors bounde...,0.102381,2
880,2441,A Data-adaptive and Dynamic Segmentation Index...,segmenting time method series nodes indexed sp...,0.102381,2
292,692,Compacting Transactional Data in Hybrid OLTP&O...,data compress query memory transactions proces...,0.102381,2
160,1399,Schema Extraction for Tabular Data on the Web,table data row relations methods contained dat...,0.102381,2
667,1099,Efficient Window Aggregation with General Stre...,aggregate windows streaming slices generalizes...,0.102381,2
652,991,Incremental Elasticity For Array Databases,data database arrays incrementally elastic ske...,0.102381,2

--------------2----------------

In [13]:
reviewer_rank = interest(
    co_author_path='../reviewer_pool/reviewer_coauthor_937.csv',
    reviewer_information_path='../reviewer_pool/reviewer_information_937.csv',
    co_author_network_path='../co_author_network/network.csv',
    professionalism_result=reviewer,
    extractive_keyword_result=reviewee,
    reviewee_index=0,
    matrix_multifly_count=1)
#return type : pandas.dataframe
display(reviewer_rank)
# reviewer_rank.to_csv('./a.csv')
print('--------------3----------------')

,Aman Sinha,Anastasia Ailamaki,AnHai Doan,Beng Chin Ooi,Brit Youngmann,Chin-Wan Chung,Chong Sun,Christian S. Jensen,Christoph Koch,Gao Cong,...,Ziqiang Feng,Ziqiang Yu,Zitong Chen,Ziyang Liu,Ziyu Guan,Zografoula Vagena,Zoheb Vacheri,Zoi Kaoudi,Zsolt IstvÃ¡n,Zuhair Khayyat
Aman Sinha,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Anastasia Ailamaki,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AnHai Doan,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Beng Chin Ooi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Brit Youngmann,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zografoula Vagena,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoheb Vacheri,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoi Kaoudi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zsolt IstvÃ¡n,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zuhair Khayyat,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Lu Qin,M. Amber Hassaan,Md. Mostofa Ali Patwary,Nguyen Quoc Viet Hung,Pradeep Dubey,Rimma Nehme,Ruoming Jin,Sanjeev Khanna,Shuigeng Zhou,Stratos Idreos,...,Ziqiang Feng,Ziqiang Yu,Zitong Chen,Ziyang Liu,Ziyu Guan,Zografoula Vagena,Zoheb Vacheri,Zoi Kaoudi,Zsolt IstvÃ¡n,Zuhair Khayyat
Lu Qin,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Jeffrey Xu Yu,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Lijun Chang,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,M. Amber Hassaan,Md. Mostofa Ali Patwary,Nguyen Quoc Viet Hung,Pradeep Dubey,Rimma Nehme,Sanjeev Khanna,Shuigeng Zhou,Stratos Idreos,Susan L. Price,Yiqing Ren,...,Abdulhadi Alzaidy,Abdullah Mueen,Aber Whitcomb,Abhay Jha,Abhay Mehta,Abhishek Mukherji,About Data Exchange,Ada Wai-Chee Fu,Ada Waichee Fu,Adam Marcus
Lu Qin,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
Jeffrey Xu Yu,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0
Lijun Chang,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0

,University Leipzig Germany,"University of Maryland College Park, MD, USA",University of Washington,University of Texas at Arlington,"CWI, Amsterdam","Department of Computer Science Iowa State University Ames, IA, USA",University of Southern California,"Department of Computer Science and Engineering Chinese University of Hong Kong New Territories, Hong Kong","AT&T Labs Research 180 Park Avenue Florham Park, NJ 07932","Teradata Corporation, 100 N. Sepulveda Blvd., El Segundo, CA, 90245",...,School of Computing Science Newcastle University,"INRIA & U. Paris-Sud, France",UC Riverside,"Lane Center of Computational Biology, School of Computer Science, Carnegie Mellon University, Pittsburgh, PA, USA",Department of Computer Science and Engineering HKUST Hong Kong,"Huawei Noah's Ark Lab, Hong Kong",EPFL & Cornell University,"Yahoo! Research Santa Clara, CA, USA",CWI Amsterdam The Netherlands,"University of Washington, Seattle"
"The Chinese University of Hong Kong, Hong Kong, China",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"The Chinese University of Hong Kong, Hong Kong, China",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"The Chinese University of Hong Kong, Hong Kong, China",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,reviewer_name,reviewer_orcid,title,sim,count
3,Chen Wang,381,Parallel Duplicate Detection in Adverse Drug R...,0.155556,0
14,Dimitrios Karapiperis,549,Efficient Record Linkage Using a Compact Hammi...,0.155556,0
12,Houtan Shirani-Mehr,891,Efficient Reachability Query Evaluation in Lar...,0.128788,0
15,Ke Wang,1200,Reconstruction Privacy: Enabling Statistical L...,0.128788,0
13,Dongqing Xiao,585,InsightNotes: Summary-Based Annotation Managem...,0.106044,0
2,Ilya Taranov,919,Sedna: Native XML Database Management System (...,0.104170,0
6,Merih Seran Uysal,1478,Efficient Query Processing Using the Earth Mov...,0.104170,0
0,Jonas Traub,1099,Efficient Window Aggregation with General Stre...,0.102381,0
1,Brian E. Ruttenberg,324,Indexing the Earth MoverÂ¢Â® ?s Distance Using...,0.102381,0
4,Bhargav Kanagal,288,Lineage Processing over Correlated Probabilist...,0.102381,0
5,Daniel Nicoara,481,Hermes: Dynamic Partitioning for Distributed S...,0.102381,0
7,Florian Funke,692,Compacting Transactional Data in Hybrid OLTP&O...,0.102381,0
8,Graham Cormode,778,Verifying Computations with Streaming Interact...,0.102381,0
9,Hoang Vu Nguyen,874,Identifying User Interests within the Data Spa...,0.102381,0
10,Marco D. Adelfio,1399,Schema Extraction for Tabular Data on the Web,0.102381,0
11,Jennie Duggan,991,Incremental Elasticity For Array Databases,0.102381,0

--------------3----------------

In [35]:
save_csv(output_path='../algorithm_output/export_csv_937.csv',
         extractive_keyword_result=reviewee,
         professionalism_result=reviewer_rank,
         reviewee_index=0,
         top_limit=3)
display(save_csv)


print('-------------------11------------------')

-------------------11------------------

In [36]:
equl_distribution(input_csv_path='../algorithm_output/export_csv_937.csv',
             output_csv_path='../algorithm_output/final_csv_937.csv')

print('[equl_distribution | {time:2.5f}]'.format(time=time.time() - start_time))

[equl_distribution | 53.81100]

In [25]:
aaa = pd.read_csv('../algorithm_output/final_csv_937.csv', encoding='latin1')
aaa

,Unnamed: 0,submitter_title,date,submitter_name,reviewer_name,reviewer_orcid,title,sim,count
0,0,Diversifying Top-K Results,20200101,Lu Qin,Jong Wook Kim,1106,Skip-and-Prune: Cosine-based Top-K Query Proce...,0.155556,1
1,1,Diversifying Top-K Results,20200101,Lu Qin,Jong Wook Kim,1106,Skip-and-Prune: Cosine-based Top-K Query Proce...,0.155556,2
2,2,Diversifying Top-K Results,20200101,Lu Qin,El Kindi Rezig,606,Query-Time Record Linkage and Fusion over Web ...,0.128788,1
3,3,Diversifying Top-K Results,20200101,Lu Qin,Henning K?hler,859,Efficient Parallel Skyline Processing using Hy...,0.110073,1
4,4,Diversifying Top-K Results,20200101,Lu Qin,Henning K?hler,859,Efficient Parallel Skyline Processing using Hy...,0.110073,2
5,5,Diversifying Top-K Results,20200101,Lu Qin,Gheorghi Guzun,764,Distributed query-aware quantization for high-...,0.104170,1